In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("survey_results_public.csv")

In [3]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

## 1. Find the average age of developers when they wrote their first line of code.

In [4]:
df['Age1stCode'].isnull().values.any()

True

In [5]:
df1 = df.dropna(subset=['Age1stCode'])

In [6]:
df1['Age1stCode'].isnull().values.any()

False

In [7]:
suma = 0
for val in df1['Age1stCode']:
    if val not in ['Younger than 5 years','Older than 85' ]:
        suma += int(val)

In [8]:
suma

1346071

In [9]:
average = suma/len(df1['Age1stCode'])

In [10]:
average

15.360145605586872

## 2. Deduce the percentage of developers who knew python in each country.

In [11]:
df2 = df.dropna(subset=['LanguageWorkedWith'])

In [12]:
df2['LanguageWorkedWith'].isnull().values.any()

False

In [13]:
df2['Country'].isnull().values.any()

False

In [14]:
import re

In [15]:
d = {}
for i in range(len(df2['Country'])):
    x = re.search("(Python)",df2['LanguageWorkedWith'].iloc[i])
    if x:
        if df2['Country'].iloc[i] not in d:
            d[df2['Country'].iloc[i]] = 1
            #print(df2['Country'].iloc[i])
        else:
            d[df2['Country'].iloc[i]] += 1
            #print(df2['Country'].iloc[i])

In [16]:
print(d)

{'United Kingdom': 2384, 'Bosnia and Herzegovina': 29, 'United States': 10083, 'Ukraine': 246, 'India': 3105, 'New Zealand': 236, 'Canada': 1558, 'Russian Federation': 708, 'Lithuania': 79, 'Colombia': 108, 'Argentina': 191, 'Germany': 2451, 'Serbia': 117, 'Poland': 751, 'Sweden': 496, 'Sri Lanka': 137, 'France': 1054, 'Netherlands': 767, 'Italy': 625, 'Australia': 790, 'Philippines': 117, 'Ireland': 209, 'China': 297, 'Brazil': 767, 'South Korea': 80, 'South Africa': 202, 'Estonia': 82, 'Japan': 182, 'Austria': 338, 'Croatia': 87, 'Finland': 266, 'Bulgaria': 181, 'Malaysia': 95, 'Belarus': 69, 'Spain': 641, 'Bangladesh': 204, 'Greece': 226, 'Latvia': 39, 'Hong Kong (S.A.R.)': 88, 'Portugal': 182, 'United Arab Emirates': 49, 'Norway': 232, 'Turkey': 371, 'Zimbabwe': 14, 'Thailand': 92, 'Denmark': 246, 'Egypt': 111, 'Pakistan': 251, 'Guatemala': 25, 'Israel': 457, 'Ecuador': 39, 'Uganda': 47, 'Cambodia': 9, 'Switzerland': 460, 'Sierra Leone': 1, 'Iran': 268, 'Singapore': 139, 'Nepal': 101, 'Nigeria': 152, 'Mexico': 245, 'Chile': 102, 'Czech Republic': 285, 'Luxembourg': 25, 'Iraq': 17, 'Slovenia': 119, 'Peru': 47, 'Romania': 253, 'Taiwan': 88, 'Hungary': 191, 'Belize': 1, 'Kenya': 120, 'Slovakia': 101, 'Mali': 1, 'Ghana': 32, 'Trinidad and Tobago': 5, 'Indonesia': 148, 'Algeria': 40, 'Morocco': 50, 'El Salvador': 19, 'Turkmenistan': 6, 'Malta': 20, 'Belgium': 296, 'Venezuela, Bolivarian Republic of...': 28, 'Panama': 13, 'Georgia': 26, 'Other Country (Not Listed Above)': 37, 'Sudan': 16, 'Costa Rica': 30, 'Lebanon': 42, 'The former Yugoslav Republic of Macedonia': 8, 'Albania': 23, 'Ethiopia': 20, 'Tunisia': 40, 'Guyana': 2, 'Saudi Arabia': 33, 'Jamaica': 8, 'Fiji': 1, 'Armenia': 28, 'Haiti': 3, 'Benin': 3, 'Namibia': 3, 'Montenegro': 8, 'Viet Nam': 78, 'Nicaragua': 10, 'Rwanda': 5, 'Honduras': 12, 'Republic of Moldova': 7, 'Liechtenstein': 1, 'Qatar': 5, 'Uruguay': 36, 'Jordan': 22, 'Dominican Republic': 21, "Côte d'Ivoire": 11, 'Mongolia': 8, 'Paraguay': 19, 'Guinea': 2, 'Maldives': 6, 'Azerbaijan': 17, 'Monaco': 2, 'United Republic of Tanzania': 15, 'Kyrgyzstan': 6, 'Mauritius': 8, 'Mauritania': 5, 'Angola': 2, 'Yemen': 3, 'Cuba': 16, 'Cameroon': 16, 'Cyprus': 20, 'Syrian Arab Republic': 7, 'Congo, Republic of the...': 4, 'Bolivia': 11, 'Kazakhstan': 15, 'Afghanistan': 8, 'Zambia': 4, 'Bahrain': 4, 'Democratic Republic of the Congo': 3, 'Uzbekistan': 14, 'Oman': 6, 'Timor-Leste': 1, 'Myanmar': 9, 'Iceland': 30, 'Republic of Korea': 20, 'Kuwait': 6, 'Niger': 1, 'Dominica': 1, 'Barbados': 1, 'Burundi': 1, 'Libyan Arab Jamahiriya': 2, 'Bahamas': 2, 'Senegal': 8, 'Swaziland': 2, 'Madagascar': 4, 'Bhutan': 1, 'Botswana': 1, 'Somalia': 3, 'Mozambique': 1, 'San Marino': 1, 'Togo': 1, 'Seychelles': 1, 'Sao Tome and Principe': 1, 'Lesotho': 1, "Democratic People's Republic of Korea": 1}

In [17]:
for k,v in d.items():
    val = v/df2['Country'].value_counts()[k]
    d[k] = val * 100

In [18]:
print(d)

{'United Kingdom': 41.89806678383128, 'Bosnia and Herzegovina': 27.358490566037734, 'United States': 48.54831720352448, 'Ukraine': 28.57142857142857, 'India': 35.10854816824966, 'New Zealand': 45.472061657032754, 'Canada': 46.3001485884101, 'Russian Federation': 41.99288256227758, 'Lithuania': 32.37704918032787, 'Colombia': 35.294117647058826, 'Argentina': 34.91773308957952, 'Germany': 42.03395643971874, 'Serbia': 29.620253164556964, 'Poland': 39.381227058206605, 'Sweden': 39.27157561361837, 'Sri Lanka': 37.43169398907104, 'France': 44.397641112047175, 'Netherlands': 41.73014145810664, 'Italy': 40.21879021879022, 'Australia': 42.02127659574468, 'Philippines': 32.40997229916898, 'Ireland': 42.22222222222222, 'China': 46.55172413793103, 'Brazil': 39.740932642487046, 'South Korea': 50.955414012738856, 'South Africa': 32.7922077922078, 'Estonia': 42.487046632124354, 'Japan': 47.02842377260982, 'Austria': 40.625, 'Croatia': 33.72093023255814, 'Finland': 49.35064935064935, 'Bulgaria': 27.846153846153847, 'Malaysia': 32.758620689655174, 'Belarus': 34.15841584158416, 'Spain': 40.36523929471033, 'Bangladesh': 34.63497453310696, 'Greece': 40.94202898550724, 'Latvia': 28.676470588235293, 'Hong Kong (S.A.R.)': 48.08743169398907, 'Portugal': 34.93282149712092, 'United Arab Emirates': 32.02614379084967, 'Norway': 40.845070422535215, 'Turkey': 40.15151515151515, 'Zimbabwe': 35.8974358974359, 'Thailand': 44.66019417475729, 'Denmark': 40.39408866995074, 'Egypt': 35.35031847133758, 'Pakistan': 27.88888888888889, 'Guatemala': 37.878787878787875, 'Israel': 48.41101694915254, 'Ecuador': 48.75, 'Uganda': 65.27777777777779, 'Cambodia': 32.142857142857146, 'Switzerland': 47.325102880658434, 'Sierra Leone': 100.0, 'Iran': 36.66210670314637, 'Singapore': 46.33333333333333, 'Nepal': 45.089285714285715, 'Nigeria': 30.831643002028397, 'Mexico': 38.70458135860979, 'Chile': 50.0, 'Czech Republic': 37.54940711462451, 'Luxembourg': 41.66666666666667, 'Iraq': 47.22222222222222, 'Slovenia': 40.06734006734007, 'Peru': 37.00787401574803, 'Romania': 34.00537634408602, 'Taiwan': 48.08743169398907, 'Hungary': 37.37769080234833, 'Belize': 33.33333333333333, 'Kenya': 50.2092050209205, 'Slovakia': 39.453125, 'Mali': 33.33333333333333, 'Ghana': 39.02439024390244, 'Trinidad and Tobago': 26.31578947368421, 'Indonesia': 30.327868852459016, 'Algeria': 31.746031746031743, 'Morocco': 33.33333333333333, 'El Salvador': 28.35820895522388, 'Turkmenistan': 85.71428571428571, 'Malta': 30.76923076923077, 'Belgium': 41.11111111111111, 'Venezuela, Bolivarian Republic of...': 32.18390804597701, 'Panama': 39.39393939393939, 'Georgia': 32.91139240506329, 'Other Country (Not Listed Above)': 29.599999999999998, 'Sudan': 42.10526315789473, 'Costa Rica': 35.714285714285715, 'Lebanon': 36.206896551724135, 'The former Yugoslav Republic of Macedonia': 15.09433962264151, 'Albania': 27.710843373493976, 'Ethiopia': 43.47826086956522, 'Tunisia': 31.746031746031743, 'Guyana': 66.66666666666666, 'Saudi Arabia': 34.73684210526316, 'Jamaica': 28.57142857142857, 'Fiji': 20.0, 'Armenia': 33.33333333333333, 'Haiti': 60.0, 'Benin': 60.0, 'Namibia': 60.0, 'Montenegro': 47.05882352941176, 'Viet Nam': 35.45454545454545, 'Nicaragua': 33.33333333333333, 'Rwanda': 41.66666666666667, 'Honduras': 46.15384615384615, 'Republic of Moldova': 16.666666666666664, 'Liechtenstein': 33.33333333333333, 'Qatar': 38.46153846153847, 'Uruguay': 32.432432432432435, 'Jordan': 33.84615384615385, 'Dominican Republic': 22.105263157894736, "Côte d'Ivoire": 32.35294117647059, 'Mongolia': 47.05882352941176, 'Paraguay': 36.53846153846153, 'Guinea': 66.66666666666666, 'Maldives': 46.15384615384615, 'Azerbaijan': 36.17021276595745, 'Monaco': 50.0, 'United Republic of Tanzania': 48.38709677419355, 'Kyrgyzstan': 31.57894736842105, 'Mauritius': 30.76923076923077, 'Mauritania': 71.42857142857143, 'Angola': 50.0, 'Yemen': 17.647058823529413, 'Cuba': 55.172413793103445, 'Cameroon': 32.0, 'Cyprus': 32.25806451612903, 'Syrian Arab Republic': 25.0, 'Congo, Republic of the...': 57.14285714285714, 'Bolivia': 32.35294117647059, 'Kazakhstan': 23.4375, 'Afghanistan': 20.51282051282051, 'Zambia': 33.33333333333333, 'Bahrain': 22.22222222222222, 'Democratic Republic of the Congo': 42.857142857142854, 'Uzbekistan': 35.8974358974359, 'Oman': 54.54545454545454, 'Timor-Leste': 100.0, 'Myanmar': 19.565217391304348, 'Iceland': 62.5, 'Republic of Korea': 54.054054054054056, 'Kuwait': 30.0, 'Niger': 100.0, 'Dominica': 100.0, 'Barbados': 50.0, 'Burundi': 33.33333333333333, 'Libyan Arab Jamahiriya': 20.0, 'Bahamas': 66.66666666666666, 'Senegal': 38.095238095238095, 'Swaziland': 25.0, 'Madagascar': 28.57142857142857, 'Bhutan': 50.0, 'Botswana': 20.0, 'Somalia': 25.0, 'Mozambique': 14.285714285714285, 'San Marino': 50.0, 'Togo': 25.0, 'Seychelles': 50.0, 'Sao Tome and Principe': 100.0, 'Lesotho': 33.33333333333333, "Democratic People's Republic of Korea": 50.0}

In [19]:
def getavg(val):
    print(d[val])

In [20]:
getavg(df2['Country'].iloc[76])

35.10854816824966

## 3. Generate the report for the average salary of developers based on the continent.

In [21]:
df3 = df.dropna(subset=['Country'])

In [22]:
df3['Country'].isnull().values.any()

False

In [43]:
df3['ConvertedComp'].isnull().values.any()

False

In [ ]:
pip install pycountry

In [ ]:
pip install pycountry-convert

In [26]:
import pycountry_convert as pc

def country_to_continent(country_name):
    if country_name == "Timor-Leste":
        return "Asia"
    country_alpha2 = pc.country_name_to_country_alpha2(country_name)
    country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
    country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
    return country_continent_name

In [25]:
df3.insert(len(df3.columns),"Continent",0)

In [33]:
for i in range(len(df3['Country'])):
    if df3['Country'].iloc[i] == 'Other Country (Not Listed Above)':
        df3['Continent'].iloc[i] = "other"
    else:
        df3['Continent'].iloc[i] = country_to_continent(df3['Country'].iloc[i])

C:\Users\SVsre\AppData\Local\Temp\ipykernel_22204\4147462114.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Continent'].iloc[i] = country_to_continent(df3['Country'].iloc[i])
C:\Users\SVsre\AppData\Local\Temp\ipykernel_22204\4147462114.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Continent'].iloc[i] = "other"

In [34]:
df3['Continent'].unique()

array(['Asia', 'North America', 'Oceania', 'Europe', 'South America',
       'Africa', 'other'], dtype=object)

In [27]:
df3['Country'].replace("Hong Kong (S.A.R.)", "Hong Kong", inplace=True)

C:\Users\SVsre\AppData\Local\Temp\ipykernel_22204\4153090026.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Country'].replace("Hong Kong (S.A.R.)", "Hong Kong", inplace=True)

In [28]:
df3['Country'].replace("Venezuela, Bolivarian Republic of...", "Venezuela", inplace=True)

C:\Users\SVsre\AppData\Local\Temp\ipykernel_22204\2749182102.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Country'].replace("Venezuela, Bolivarian Republic of...", "Venezuela", inplace=True)

In [29]:
df3['Country'].replace("The former Yugoslav Republic of Macedonia", "Macedonia", inplace=True)

C:\Users\SVsre\AppData\Local\Temp\ipykernel_22204\1949587372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Country'].replace("The former Yugoslav Republic of Macedonia", "Macedonia", inplace=True)

In [30]:
df3['Country'].replace("Libyan Arab Jamahiriya", "Libya", inplace=True)

C:\Users\SVsre\AppData\Local\Temp\ipykernel_22204\1067643964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Country'].replace("Libyan Arab Jamahiriya", "Libya", inplace=True)

In [31]:
df3['Country'].replace("Republic of Korea", "South Korea", inplace=True)

C:\Users\SVsre\AppData\Local\Temp\ipykernel_22204\1043829597.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Country'].replace("Republic of Korea", "South Korea", inplace=True)

In [32]:
df3['Country'].replace("Congo, Republic of the...", "Congo", inplace=True)

C:\Users\SVsre\AppData\Local\Temp\ipykernel_22204\181206381.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Country'].replace("Congo, Republic of the...", "Congo", inplace=True)

In [35]:
df3.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,Continent
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult,Asia
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,North America
5,6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult,North America
8,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,Oceania
9,10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult,Asia

In [36]:
d2 = {}

In [37]:
for i in range(len(df3['Continent'])):
    if df3['Continent'].iloc[i] not in d2:
        d2[df3['Continent'].iloc[i]] = df3['ConvertedComp'].iloc[i]
    else:
        d2[df3['Continent'].iloc[i]] += df3['ConvertedComp'].iloc[i]

In [38]:
for k,v in d2.items():
    val = v/df3['Continent'].value_counts()[k]
    d2[k] = val

In [39]:
print(d2)

{'Asia': 37768.54954329981, 'North America': 225667.24741810106, 'Oceania': 166950.95579078456, 'Europe': 97042.15751810069, 'South America': 32691.80112721417, 'Africa': 35045.78281622912, 'other': 99339.80327868853}

## 5. Generate the report for the people who code as a hobby based on their gender and continent.

In [158]:
df3.dropna(subset=['Hobbyist'],inplace = True)
df3.dropna(subset=['Gender'],inplace = True)

C:\Users\SVsre\AppData\Local\Temp\ipykernel_22204\4101178139.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.dropna(subset=['Hobbyist'],inplace = True)
C:\Users\SVsre\AppData\Local\Temp\ipykernel_22204\4101178139.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.dropna(subset=['Gender'],inplace = True)

In [159]:
df3['Hobbyist'].isnull().values.any()

False

In [160]:
df3['Gender'].isnull().values.any()

False

In [161]:
d3 = {}
for i in range(len(df3['Hobbyist'])):
    if df3['Hobbyist'].iloc[i] == "Yes":
        if df3["Continent"].iloc[i] not in d3:
            d3[df3["Continent"].iloc[i]] = {"Woman" : 0,"Man" : 0,"Others":0}
            if df3["Gender"].iloc[i] == "Woman":
                d3[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                d3[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                d3[df3["Continent"].iloc[i]]["Others"] += 1
        else:
            if df3["Gender"].iloc[i] == "Woman":
                d3[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                d3[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                d3[df3["Continent"].iloc[i]]["Others"] += 1

In [162]:
d3

{'Asia': {'Woman': 274, 'Man': 6155, 'Others': 53},
 'North America': {'Woman': 975, 'Man': 12702, 'Others': 234},
 'Oceania': {'Woman': 58, 'Man': 1211, 'Others': 22},
 'Europe': {'Woman': 846, 'Man': 17934, 'Others': 170},
 'South America': {'Woman': 71, 'Man': 1758, 'Others': 10},
 'Africa': {'Woman': 49, 'Man': 882, 'Others': 10},
 'other': {'Woman': 2, 'Man': 37, 'Others': 1}}

In [163]:
reformed_dict = {}
for outerKey, innerDict in d3.items():
    for innerKey, values in innerDict.items():
        reformed_dict[(outerKey,
                       innerKey)] = values

In [164]:
reformed_dict

{('Asia', 'Woman'): 274,
 ('Asia', 'Man'): 6155,
 ('Asia', 'Others'): 53,
 ('North America', 'Woman'): 975,
 ('North America', 'Man'): 12702,
 ('North America', 'Others'): 234,
 ('Oceania', 'Woman'): 58,
 ('Oceania', 'Man'): 1211,
 ('Oceania', 'Others'): 22,
 ('Europe', 'Woman'): 846,
 ('Europe', 'Man'): 17934,
 ('Europe', 'Others'): 170,
 ('South America', 'Woman'): 71,
 ('South America', 'Man'): 1758,
 ('South America', 'Others'): 10,
 ('Africa', 'Woman'): 49,
 ('Africa', 'Man'): 882,
 ('Africa', 'Others'): 10,
 ('other', 'Woman'): 2,
 ('other', 'Man'): 37,
 ('other', 'Others'): 1}

In [165]:
multiIndex_df = pd.DataFrame([reformed_dict])
multiIndex_df

,"(Asia, Woman)","(Asia, Man)","(Asia, Others)","(North America, Woman)","(North America, Man)","(North America, Others)","(Oceania, Woman)","(Oceania, Man)","(Oceania, Others)","(Europe, Woman)",...,"(Europe, Others)","(South America, Woman)","(South America, Man)","(South America, Others)","(Africa, Woman)","(Africa, Man)","(Africa, Others)","(other, Woman)","(other, Man)","(other, Others)"
0,274,6155,53,975,12702,234,58,1211,22,846,...,170,71,1758,10,49,882,10,2,37,1

In [166]:
multiIndex_df.transpose()

                             0
(Asia, Woman)              274
(Asia, Man)               6155
(Asia, Others)              53
(North America, Woman)     975
(North America, Man)     12702
(North America, Others)    234
(Oceania, Woman)            58
(Oceania, Man)            1211
(Oceania, Others)           22
(Europe, Woman)            846
(Europe, Man)            17934
(Europe, Others)           170
(South America, Woman)      71
(South America, Man)      1758
(South America, Others)     10
(Africa, Woman)             49
(Africa, Man)              882
(Africa, Others)            10
(other, Woman)               2
(other, Man)                37
(other, Others)              1

## 4. Based on this survey, what will be the most desired programming language for the year  2020?

In [64]:
df4 = df.dropna(subset=['LanguageDesireNextYear'])

In [65]:
df4['LanguageDesireNextYear'].isnull().values.any()

False

In [66]:
d3 = {}
for val in df4['LanguageDesireNextYear']:
    l = val.split(";")
    for lang in l:
        if lang not in d3:
            d3[lang] = 1
        else:
            d3[lang] += 1

In [67]:
print(d3)

{'C': 10632, 'C++': 16185, 'C#': 21771, 'Go': 16555, 'HTML/CSS': 35505, 'Java': 22660, 'JavaScript': 43374, 'Python': 38703, 'SQL': 32534, 'Elixir': 3664, 'WebAssembly': 8188, 'Scala': 5384, 'Bash/Shell/PowerShell': 20616, 'Erlang': 2035, 'Ruby': 7024, 'Rust': 10136, 'TypeScript': 23062, 'Other(s):': 7542, 'R': 6465, 'Assembly': 4437, 'Kotlin': 12856, 'Objective-C': 2725, 'PHP': 12368, 'Swift': 8506, 'VBA': 1580, 'Clojure': 2616, 'Dart': 4294, 'F#': 3403}

In [68]:
v = list(d3.values())
 
k = list(d3.keys())
 
print(k[v.index(max(v))])

JavaScript

## 6. Generate the report for job and career satisfaction of developers based on their gender and continent.

In [77]:
df3["CareerSat"].unique()

array(['Slightly satisfied', 'Very satisfied', 'Very dissatisfied',
       'Slightly dissatisfied', 'Neither satisfied nor dissatisfied'],
      dtype=object)

In [78]:
df3["JobSat"].unique()

array(['Slightly satisfied', 'Very satisfied',
       'Neither satisfied nor dissatisfied', 'Slightly dissatisfied',
       'Very dissatisfied'], dtype=object)

In [71]:
df3.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,Continent
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult,Asia
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,North America
5,6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult,North America
8,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,Oceania
12,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,North America

In [73]:
df3.dropna(subset=['CareerSat'],inplace=True)
df3.dropna(subset=['JobSat'],inplace=True)

C:\Users\SVsre\AppData\Local\Temp\ipykernel_22204\1088738022.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.dropna(subset=['CareerSat'],inplace=True)
C:\Users\SVsre\AppData\Local\Temp\ipykernel_22204\1088738022.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.dropna(subset=['JobSat'],inplace=True)

In [97]:
df3['JobSat'].isnull().values.any()

False

In [79]:
d6={"CareerSat":0,"JobSat":0}

In [132]:
dcss = {}
dcvs = {}
dcvd = {}
dcsd = {}
dcnsd = {}

In [133]:
for i in range(len(df3['CareerSat'])):
    if df3['CareerSat'].iloc[i] == "Slightly satisfied":
        if df3["Continent"].iloc[i] not in dcss:
            dcss[df3["Continent"].iloc[i]] = {"Woman" : 0,"Man" : 0,"Others":0}
            if df3["Gender"].iloc[i] == "Woman":
                dcss[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                dcss[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                dcss[df3["Continent"].iloc[i]]["Others"] += 1
        else:
            if df3["Gender"].iloc[i] == "Woman":
                dcss[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                dcss[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                dcss[df3["Continent"].iloc[i]]["Others"] += 1
    if df3['CareerSat'].iloc[i] == "Very satisfied":
        if df3["Continent"].iloc[i] not in dcvs:
            dcvs[df3["Continent"].iloc[i]] = {"Woman" : 0,"Man" : 0,"Others":0}
            if df3["Gender"].iloc[i] == "Woman":
                dcvs[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                dcvs[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                dcvs[df3["Continent"].iloc[i]]["Others"] += 1
        else:
            if df3["Gender"].iloc[i] == "Woman":
                dcvs[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                dcvs[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                dcvs[df3["Continent"].iloc[i]]["Others"] += 1
    if df3['CareerSat'].iloc[i] == "Very dissatisfied":
        if df3["Continent"].iloc[i] not in dcvd:
            dcvd[df3["Continent"].iloc[i]] = {"Woman" : 0,"Man" : 0,"Others":0}
            if df3["Gender"].iloc[i] == "Woman":
                dcvd[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                dcvd[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                dcvd[df3["Continent"].iloc[i]]["Others"] += 1
        else:
            if df3["Gender"].iloc[i] == "Woman":
                dcvd[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                dcvd[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                dcvd[df3["Continent"].iloc[i]]["Others"] += 1
    if df3['CareerSat'].iloc[i] == "Slightly dissatisfied":
        if df3["Continent"].iloc[i] not in dcsd:
            dcsd[df3["Continent"].iloc[i]] = {"Woman" : 0,"Man" : 0,"Others":0}
            if df3["Gender"].iloc[i] == "Woman":
                dcsd[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                dcsd[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                dcsd[df3["Continent"].iloc[i]]["Others"] += 1
        else:
            if df3["Gender"].iloc[i] == "Woman":
                dcsd[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                dcsd[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                dcsd[df3["Continent"].iloc[i]]["Others"] += 1
    if df3['CareerSat'].iloc[i] == "Neither satisfied nor dissatisfied":
        if df3["Continent"].iloc[i] not in dcnsd:
            dcnsd[df3["Continent"].iloc[i]] = {"Woman" : 0,"Man" : 0,"Others":0}
            if df3["Gender"].iloc[i] == "Woman":
                dcnsd[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                dcnsd[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                dcnsd[df3["Continent"].iloc[i]]["Others"] += 1
        else:
            if df3["Gender"].iloc[i] == "Woman":
                dcnsd[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                dcnsd[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                dcnsd[df3["Continent"].iloc[i]]["Others"] += 1

In [122]:
dcfinal = {}

In [123]:
df3["CareerSat"].unique()

array(['Slightly satisfied', 'Very satisfied', 'Very dissatisfied',
       'Slightly dissatisfied', 'Neither satisfied nor dissatisfied'],
      dtype=object)

In [124]:
dcfinal["Slightly satisfied"] = dcss
dcfinal["Very satisfied"] = dcvs
dcfinal["Very dissatisfied"] = dcvd
dcfinal["Slightly dissatisfied"] = dcsd
dcfinal["Neither satisfied nor dissatisfied"] = dcnsd

In [125]:
dcfinal

{'Slightly satisfied': {'Asia': {'Woman': 155, 'Man': 2773, 'Others': 22},
  'Oceania': {'Woman': 37, 'Man': 512, 'Others': 7},
  'Europe': {'Woman': 483, 'Man': 8279, 'Others': 77},
  'North America': {'Woman': 527, 'Man': 4833, 'Others': 99},
  'South America': {'Woman': 47, 'Man': 819, 'Others': 4},
  'Africa': {'Woman': 31, 'Man': 398, 'Others': 5},
  'other': {'Woman': 3, 'Man': 19, 'Others': 0}},
 'Very satisfied': {'North America': {'Woman': 1738,
   'Man': 16520,
   'Others': 246},
  'Europe': {'Woman': 1086, 'Man': 16760, 'Others': 122},
  'Asia': {'Woman': 276, 'Man': 4952, 'Others': 34},
  'Africa': {'Woman': 66, 'Man': 832, 'Others': 2},
  'South America': {'Woman': 86, 'Man': 1604, 'Others': 4},
  'Oceania': {'Woman': 72, 'Man': 1342, 'Others': 22},
  'other': {'Woman': 2, 'Man': 38, 'Others': 0}},
 'Very dissatisfied': {'South America': {'Woman': 12, 'Man': 428, 'Others': 8},
  'Europe': {'Woman': 122, 'Man': 1930, 'Others': 20},
  'North America': {'Woman': 82, 'Man': 1170, 'Others': 34},
  'Africa': {'Woman': 14, 'Man': 154, 'Others': 0},
  'Oceania': {'Woman': 2, 'Man': 88, 'Others': 4},
  'Asia': {'Woman': 52, 'Man': 1058, 'Others': 12},
  'other': {'Woman': 2, 'Man': 8, 'Others': 0}},
 'Slightly dissatisfied': {'Europe': {'Woman': 280, 'Man': 4568, 'Others': 56},
  'Asia': {'Woman': 154, 'Man': 2180, 'Others': 14},
  'North America': {'Woman': 294, 'Man': 2370, 'Others': 66},
  'Oceania': {'Woman': 6, 'Man': 282, 'Others': 4},
  'South America': {'Woman': 34, 'Man': 572, 'Others': 6},
  'Africa': {'Woman': 30, 'Man': 242, 'Others': 6},
  'other': {'Woman': 0, 'Man': 12, 'Others': 2}},
 'Neither satisfied nor dissatisfied': {'Europe': {'Woman': 216,
   'Man': 3842,
   'Others': 62},
  'Asia': {'Woman': 110, 'Man': 2168, 'Others': 28},
  'Africa': {'Woman': 0, 'Man': 248, 'Others': 4},
  'North America': {'Woman': 176, 'Man': 1676, 'Others': 64},
  'Oceania': {'Woman': 20, 'Man': 206, 'Others': 2},
  'South America': {'Woman': 18, 'Man': 408, 'Others': 6},
  'other': {'Woman': 0, 'Man': 8, 'Others': 0}}}

In [153]:
reformed_dict = {}
for outerKey, innerDict in dcfinal.items():
    for innerKey, values in innerDict.items():
        for ik,v in values.items():
            reformed_dict[(outerKey,innerKey,ik)] = v

In [154]:
reformed_dict

{('Slightly satisfied', 'Asia', 'Woman'): 155,
 ('Slightly satisfied', 'Asia', 'Man'): 2773,
 ('Slightly satisfied', 'Asia', 'Others'): 22,
 ('Slightly satisfied', 'Oceania', 'Woman'): 37,
 ('Slightly satisfied', 'Oceania', 'Man'): 512,
 ('Slightly satisfied', 'Oceania', 'Others'): 7,
 ('Slightly satisfied', 'Europe', 'Woman'): 483,
 ('Slightly satisfied', 'Europe', 'Man'): 8279,
 ('Slightly satisfied', 'Europe', 'Others'): 77,
 ('Slightly satisfied', 'North America', 'Woman'): 527,
 ('Slightly satisfied', 'North America', 'Man'): 4833,
 ('Slightly satisfied', 'North America', 'Others'): 99,
 ('Slightly satisfied', 'South America', 'Woman'): 47,
 ('Slightly satisfied', 'South America', 'Man'): 819,
 ('Slightly satisfied', 'South America', 'Others'): 4,
 ('Slightly satisfied', 'Africa', 'Woman'): 31,
 ('Slightly satisfied', 'Africa', 'Man'): 398,
 ('Slightly satisfied', 'Africa', 'Others'): 5,
 ('Slightly satisfied', 'other', 'Woman'): 3,
 ('Slightly satisfied', 'other', 'Man'): 19,
 ('Slightly satisfied', 'other', 'Others'): 0,
 ('Very satisfied', 'North America', 'Woman'): 1738,
 ('Very satisfied', 'North America', 'Man'): 16520,
 ('Very satisfied', 'North America', 'Others'): 246,
 ('Very satisfied', 'Europe', 'Woman'): 1086,
 ('Very satisfied', 'Europe', 'Man'): 16760,
 ('Very satisfied', 'Europe', 'Others'): 122,
 ('Very satisfied', 'Asia', 'Woman'): 276,
 ('Very satisfied', 'Asia', 'Man'): 4952,
 ('Very satisfied', 'Asia', 'Others'): 34,
 ('Very satisfied', 'Africa', 'Woman'): 66,
 ('Very satisfied', 'Africa', 'Man'): 832,
 ('Very satisfied', 'Africa', 'Others'): 2,
 ('Very satisfied', 'South America', 'Woman'): 86,
 ('Very satisfied', 'South America', 'Man'): 1604,
 ('Very satisfied', 'South America', 'Others'): 4,
 ('Very satisfied', 'Oceania', 'Woman'): 72,
 ('Very satisfied', 'Oceania', 'Man'): 1342,
 ('Very satisfied', 'Oceania', 'Others'): 22,
 ('Very satisfied', 'other', 'Woman'): 2,
 ('Very satisfied', 'other', 'Man'): 38,
 ('Very satisfied', 'other', 'Others'): 0,
 ('Very dissatisfied', 'South America', 'Woman'): 12,
 ('Very dissatisfied', 'South America', 'Man'): 428,
 ('Very dissatisfied', 'South America', 'Others'): 8,
 ('Very dissatisfied', 'Europe', 'Woman'): 122,
 ('Very dissatisfied', 'Europe', 'Man'): 1930,
 ('Very dissatisfied', 'Europe', 'Others'): 20,
 ('Very dissatisfied', 'North America', 'Woman'): 82,
 ('Very dissatisfied', 'North America', 'Man'): 1170,
 ('Very dissatisfied', 'North America', 'Others'): 34,
 ('Very dissatisfied', 'Africa', 'Woman'): 14,
 ('Very dissatisfied', 'Africa', 'Man'): 154,
 ('Very dissatisfied', 'Africa', 'Others'): 0,
 ('Very dissatisfied', 'Oceania', 'Woman'): 2,
 ('Very dissatisfied', 'Oceania', 'Man'): 88,
 ('Very dissatisfied', 'Oceania', 'Others'): 4,
 ('Very dissatisfied', 'Asia', 'Woman'): 52,
 ('Very dissatisfied', 'Asia', 'Man'): 1058,
 ('Very dissatisfied', 'Asia', 'Others'): 12,
 ('Very dissatisfied', 'other', 'Woman'): 2,
 ('Very dissatisfied', 'other', 'Man'): 8,
 ('Very dissatisfied', 'other', 'Others'): 0,
 ('Slightly dissatisfied', 'Europe', 'Woman'): 280,
 ('Slightly dissatisfied', 'Europe', 'Man'): 4568,
 ('Slightly dissatisfied', 'Europe', 'Others'): 56,
 ('Slightly dissatisfied', 'Asia', 'Woman'): 154,
 ('Slightly dissatisfied', 'Asia', 'Man'): 2180,
 ('Slightly dissatisfied', 'Asia', 'Others'): 14,
 ('Slightly dissatisfied', 'North America', 'Woman'): 294,
 ('Slightly dissatisfied', 'North America', 'Man'): 2370,
 ('Slightly dissatisfied', 'North America', 'Others'): 66,
 ('Slightly dissatisfied', 'Oceania', 'Woman'): 6,
 ('Slightly dissatisfied', 'Oceania', 'Man'): 282,
 ('Slightly dissatisfied', 'Oceania', 'Others'): 4,
 ('Slightly dissatisfied', 'South America', 'Woman'): 34,
 ('Slightly dissatisfied', 'South America', 'Man'): 572,
 ('Slightly dissatisfied', 'South America', 'Others'): 6,
 ('Slightly dissatisfied', 'Africa', 'Woman'): 30,
 ('Slightly dissatisfied', 'Africa', 'Man'): 242,
 ('Slightly dissatisfied', 'Africa', 'Others'): 6,
 ('Slightly dissatisfied', 'other', 'Woman'): 0,
 ('Slightly dissatisfied', 'other', 'Man'): 12,
 ('Slightly dissatisfied', 'other', 'Others'): 2,
 ('Neither satisfied nor dissatisfied', 'Europe', 'Woman'): 216,
 ('Neither satisfied nor dissatisfied', 'Europe', 'Man'): 3842,
 ('Neither satisfied nor dissatisfied', 'Europe', 'Others'): 62,
 ('Neither satisfied nor dissatisfied', 'Asia', 'Woman'): 110,
 ('Neither satisfied nor dissatisfied', 'Asia', 'Man'): 2168,
 ('Neither satisfied nor dissatisfied', 'Asia', 'Others'): 28,
 ('Neither satisfied nor dissatisfied', 'Africa', 'Woman'): 0,
 ('Neither satisfied nor dissatisfied', 'Africa', 'Man'): 248,
 ('Neither satisfied nor dissatisfied', 'Africa', 'Others'): 4,
 ('Neither satisfied nor dissatisfied', 'North America', 'Woman'): 176,
 ('Neither satisfied nor dissatisfied', 'North America', 'Man'): 1676,
 ('Neither satisfied nor dissatisfied', 'North America', 'Others'): 64,
 ('Neither satisfied nor dissatisfied', 'Oceania', 'Woman'): 20,
 ('Neither satisfied nor dissatisfied', 'Oceania', 'Man'): 206,
 ('Neither satisfied nor dissatisfied', 'Oceania', 'Others'): 2,
 ('Neither satisfied nor dissatisfied', 'South America', 'Woman'): 18,
 ('Neither satisfied nor dissatisfied', 'South America', 'Man'): 408,
 ('Neither satisfied nor dissatisfied', 'South America', 'Others'): 6,
 ('Neither satisfied nor dissatisfied', 'other', 'Woman'): 0,
 ('Neither satisfied nor dissatisfied', 'other', 'Man'): 8,
 ('Neither satisfied nor dissatisfied', 'other', 'Others'): 0}

In [155]:
multiIndex_df = pd.DataFrame([reformed_dict])
multiIndex_df

,"(Slightly satisfied, Asia, Woman)","(Slightly satisfied, Asia, Man)","(Slightly satisfied, Asia, Others)","(Slightly satisfied, Oceania, Woman)","(Slightly satisfied, Oceania, Man)","(Slightly satisfied, Oceania, Others)","(Slightly satisfied, Europe, Woman)","(Slightly satisfied, Europe, Man)","(Slightly satisfied, Europe, Others)","(Slightly satisfied, North America, Woman)",...,"(Neither satisfied nor dissatisfied, North America, Others)","(Neither satisfied nor dissatisfied, Oceania, Woman)","(Neither satisfied nor dissatisfied, Oceania, Man)","(Neither satisfied nor dissatisfied, Oceania, Others)","(Neither satisfied nor dissatisfied, South America, Woman)","(Neither satisfied nor dissatisfied, South America, Man)","(Neither satisfied nor dissatisfied, South America, Others)","(Neither satisfied nor dissatisfied, other, Woman)","(Neither satisfied nor dissatisfied, other, Man)","(Neither satisfied nor dissatisfied, other, Others)"
0,155,2773,22,37,512,7,483,8279,77,527,...,64,20,206,2,18,408,6,0,8,0

In [156]:
multiIndex_df.transpose()

                                                       0
(Slightly satisfied, Asia, Woman)                    155
(Slightly satisfied, Asia, Man)                     2773
(Slightly satisfied, Asia, Others)                    22
(Slightly satisfied, Oceania, Woman)                  37
(Slightly satisfied, Oceania, Man)                   512
...                                                  ...
(Neither satisfied nor dissatisfied, South Amer...   408
(Neither satisfied nor dissatisfied, South Amer...     6
(Neither satisfied nor dissatisfied, other, Woman)     0
(Neither satisfied nor dissatisfied, other, Man)       8
(Neither satisfied nor dissatisfied, other, Oth...     0

[105 rows x 1 columns]

### for jobsat:

In [130]:
djss = {}
djvs = {}
djvd = {}
djsd = {}
djnsd = {}

In [144]:
for i in range(len(df3['JobSat'])):
    if df3['JobSat'].iloc[i] == "Slightly satisfied":
        if df3["Continent"].iloc[i] not in djss:
            djss[df3["Continent"].iloc[i]] = {"Woman" : 0,"Man" : 0,"Others":0}
            if df3["Gender"].iloc[i] == "Woman":
                djss[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                djss[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                djss[df3["Continent"].iloc[i]]["Others"] += 1
        else:
            if df3["Gender"].iloc[i] == "Woman":
                djss[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                djss[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                djss[df3["Continent"].iloc[i]]["Others"] += 1
    if df3['JobSat'].iloc[i] == "Very satisfied":
        if df3["Continent"].iloc[i] not in djvs:
            djvs[df3["Continent"].iloc[i]] = {"Woman" : 0,"Man" : 0,"Others":0}
            if df3["Gender"].iloc[i] == "Woman":
                djvs[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                djvs[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                djvs[df3["Continent"].iloc[i]]["Others"] += 1
        else:
            if df3["Gender"].iloc[i] == "Woman":
                djvs[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                djvs[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                djvs[df3["Continent"].iloc[i]]["Others"] += 1
    if df3['JobSat'].iloc[i] == "Neither satisfied nor dissatisfied":
        if df3["Continent"].iloc[i] not in djnsd:
            djnsd[df3["Continent"].iloc[i]] = {"Woman" : 0,"Man" : 0,"Others":0}
            if df3["Gender"].iloc[i] == "Woman":
                djnsd[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                djnsd[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                djnsd[df3["Continent"].iloc[i]]["Others"] += 1
        else:
            if df3["Gender"].iloc[i] == "Woman":
                djnsd[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                djnsd[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                djnsd[df3["Continent"].iloc[i]]["Others"] += 1
    if df3['JobSat'].iloc[i] == "Slightly dissatisfied":
        if df3["Continent"].iloc[i] not in djsd:
            djsd[df3["Continent"].iloc[i]] = {"Woman" : 0,"Man" : 0,"Others":0}
            if df3["Gender"].iloc[i] == "Woman":
                djsd[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                djsd[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                djsd[df3["Continent"].iloc[i]]["Others"] += 1
        else:
            if df3["Gender"].iloc[i] == "Woman":
                djsd[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                djsd[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                djsd[df3["Continent"].iloc[i]]["Others"] += 1
    if df3['JobSat'].iloc[i] == "Very dissatisfied":
        if df3["Continent"].iloc[i] not in djvd:
            djvd[df3["Continent"].iloc[i]] = {"Woman" : 0,"Man" : 0,"Others":0}
            if df3["Gender"].iloc[i] == "Woman":
                djvd[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                djvd[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                djvd[df3["Continent"].iloc[i]]["Others"] += 1
        else:
            if df3["Gender"].iloc[i] == "Woman":
                djvd[df3["Continent"].iloc[i]]["Woman"] += 1
            elif df3["Gender"].iloc[i] == "Man":
                djvd[df3["Continent"].iloc[i]]["Man"] += 1
            else:
                djvd[df3["Continent"].iloc[i]]["Others"] += 1

In [145]:
djfinal = {}

In [146]:
djfinal["Slightly satisfied"] = djss
djfinal["Very satisfied"] = djvs
djfinal["Very dissatisfied"] = djvd
djfinal["Slightly dissatisfied"] = djsd
djfinal["Neither satisfied nor dissatisfied"] = djnsd

In [147]:
djfinal

{'Slightly satisfied': {'Asia': {'Woman': 146, 'Man': 2807, 'Others': 22},
  'North America': {'Woman': 508, 'Man': 5131, 'Others': 97},
  'Oceania': {'Woman': 31, 'Man': 500, 'Others': 7},
  'Europe': {'Woman': 451, 'Man': 7885, 'Others': 58},
  'South America': {'Woman': 45, 'Man': 767, 'Others': 7},
  'Africa': {'Woman': 21, 'Man': 412, 'Others': 4},
  'other': {'Woman': 2, 'Man': 19, 'Others': 0}},
 'Very satisfied': {'North America': {'Woman': 756,
   'Man': 6212,
   'Others': 106},
  'Europe': {'Woman': 455, 'Man': 6758, 'Others': 74},
  'South America': {'Woman': 33, 'Man': 574, 'Others': 0},
  'Asia': {'Woman': 104, 'Man': 1654, 'Others': 15},
  'Africa': {'Woman': 21, 'Man': 273, 'Others': 1},
  'Oceania': {'Woman': 35, 'Man': 528, 'Others': 8},
  'other': {'Woman': 1, 'Man': 15, 'Others': 0}},
 'Very dissatisfied': {'North America': {'Woman': 87,
   'Man': 941,
   'Others': 27},
  'Asia': {'Woman': 49, 'Man': 665, 'Others': 6},
  'Europe': {'Woman': 89, 'Man': 1435, 'Others': 20},
  'Africa': {'Woman': 17, 'Man': 94, 'Others': 3},
  'Oceania': {'Woman': 5, 'Man': 95, 'Others': 1},
  'South America': {'Woman': 10, 'Man': 206, 'Others': 3},
  'other': {'Woman': 1, 'Man': 7, 'Others': 1}},
 'Slightly dissatisfied': {'Europe': {'Woman': 216, 'Man': 3321, 'Others': 35},
  'Asia': {'Woman': 89, 'Man': 1524, 'Others': 9},
  'North America': {'Woman': 220, 'Man': 2064, 'Others': 46},
  'Oceania': {'Woman': 9, 'Man': 207, 'Others': 4},
  'South America': {'Woman': 20, 'Man': 469, 'Others': 5},
  'Africa': {'Woman': 15, 'Man': 199, 'Others': 1},
  'other': {'Woman': 0, 'Man': 9, 'Others': 0}},
 'Neither satisfied nor dissatisfied': {'Oceania': {'Woman': 7,
   'Man': 144,
   'Others': 3},
  'Europe': {'Woman': 124, 'Man': 2437, 'Others': 20},
  'South America': {'Woman': 14, 'Man': 308, 'Others': 1},
  'North America': {'Woman': 101, 'Man': 1364, 'Others': 28},
  'Asia': {'Woman': 63, 'Man': 1305, 'Others': 14},
  'Africa': {'Woman': 12, 'Man': 157, 'Others': 2},
  'other': {'Woman': 0, 'Man': 2, 'Others': 0}}}

In [148]:
reformed_dict = {}
for outerKey, innerDict in djfinal.items():
    for innerKey, values in innerDict.items():
        for ik,v in values.items():
            reformed_dict[(outerKey,innerKey,ik)] = v

In [149]:
reformed_dict

{('Slightly satisfied', 'Asia', 'Woman'): 146,
 ('Slightly satisfied', 'Asia', 'Man'): 2807,
 ('Slightly satisfied', 'Asia', 'Others'): 22,
 ('Slightly satisfied', 'North America', 'Woman'): 508,
 ('Slightly satisfied', 'North America', 'Man'): 5131,
 ('Slightly satisfied', 'North America', 'Others'): 97,
 ('Slightly satisfied', 'Oceania', 'Woman'): 31,
 ('Slightly satisfied', 'Oceania', 'Man'): 500,
 ('Slightly satisfied', 'Oceania', 'Others'): 7,
 ('Slightly satisfied', 'Europe', 'Woman'): 451,
 ('Slightly satisfied', 'Europe', 'Man'): 7885,
 ('Slightly satisfied', 'Europe', 'Others'): 58,
 ('Slightly satisfied', 'South America', 'Woman'): 45,
 ('Slightly satisfied', 'South America', 'Man'): 767,
 ('Slightly satisfied', 'South America', 'Others'): 7,
 ('Slightly satisfied', 'Africa', 'Woman'): 21,
 ('Slightly satisfied', 'Africa', 'Man'): 412,
 ('Slightly satisfied', 'Africa', 'Others'): 4,
 ('Slightly satisfied', 'other', 'Woman'): 2,
 ('Slightly satisfied', 'other', 'Man'): 19,
 ('Slightly satisfied', 'other', 'Others'): 0,
 ('Very satisfied', 'North America', 'Woman'): 756,
 ('Very satisfied', 'North America', 'Man'): 6212,
 ('Very satisfied', 'North America', 'Others'): 106,
 ('Very satisfied', 'Europe', 'Woman'): 455,
 ('Very satisfied', 'Europe', 'Man'): 6758,
 ('Very satisfied', 'Europe', 'Others'): 74,
 ('Very satisfied', 'South America', 'Woman'): 33,
 ('Very satisfied', 'South America', 'Man'): 574,
 ('Very satisfied', 'South America', 'Others'): 0,
 ('Very satisfied', 'Asia', 'Woman'): 104,
 ('Very satisfied', 'Asia', 'Man'): 1654,
 ('Very satisfied', 'Asia', 'Others'): 15,
 ('Very satisfied', 'Africa', 'Woman'): 21,
 ('Very satisfied', 'Africa', 'Man'): 273,
 ('Very satisfied', 'Africa', 'Others'): 1,
 ('Very satisfied', 'Oceania', 'Woman'): 35,
 ('Very satisfied', 'Oceania', 'Man'): 528,
 ('Very satisfied', 'Oceania', 'Others'): 8,
 ('Very satisfied', 'other', 'Woman'): 1,
 ('Very satisfied', 'other', 'Man'): 15,
 ('Very satisfied', 'other', 'Others'): 0,
 ('Very dissatisfied', 'North America', 'Woman'): 87,
 ('Very dissatisfied', 'North America', 'Man'): 941,
 ('Very dissatisfied', 'North America', 'Others'): 27,
 ('Very dissatisfied', 'Asia', 'Woman'): 49,
 ('Very dissatisfied', 'Asia', 'Man'): 665,
 ('Very dissatisfied', 'Asia', 'Others'): 6,
 ('Very dissatisfied', 'Europe', 'Woman'): 89,
 ('Very dissatisfied', 'Europe', 'Man'): 1435,
 ('Very dissatisfied', 'Europe', 'Others'): 20,
 ('Very dissatisfied', 'Africa', 'Woman'): 17,
 ('Very dissatisfied', 'Africa', 'Man'): 94,
 ('Very dissatisfied', 'Africa', 'Others'): 3,
 ('Very dissatisfied', 'Oceania', 'Woman'): 5,
 ('Very dissatisfied', 'Oceania', 'Man'): 95,
 ('Very dissatisfied', 'Oceania', 'Others'): 1,
 ('Very dissatisfied', 'South America', 'Woman'): 10,
 ('Very dissatisfied', 'South America', 'Man'): 206,
 ('Very dissatisfied', 'South America', 'Others'): 3,
 ('Very dissatisfied', 'other', 'Woman'): 1,
 ('Very dissatisfied', 'other', 'Man'): 7,
 ('Very dissatisfied', 'other', 'Others'): 1,
 ('Slightly dissatisfied', 'Europe', 'Woman'): 216,
 ('Slightly dissatisfied', 'Europe', 'Man'): 3321,
 ('Slightly dissatisfied', 'Europe', 'Others'): 35,
 ('Slightly dissatisfied', 'Asia', 'Woman'): 89,
 ('Slightly dissatisfied', 'Asia', 'Man'): 1524,
 ('Slightly dissatisfied', 'Asia', 'Others'): 9,
 ('Slightly dissatisfied', 'North America', 'Woman'): 220,
 ('Slightly dissatisfied', 'North America', 'Man'): 2064,
 ('Slightly dissatisfied', 'North America', 'Others'): 46,
 ('Slightly dissatisfied', 'Oceania', 'Woman'): 9,
 ('Slightly dissatisfied', 'Oceania', 'Man'): 207,
 ('Slightly dissatisfied', 'Oceania', 'Others'): 4,
 ('Slightly dissatisfied', 'South America', 'Woman'): 20,
 ('Slightly dissatisfied', 'South America', 'Man'): 469,
 ('Slightly dissatisfied', 'South America', 'Others'): 5,
 ('Slightly dissatisfied', 'Africa', 'Woman'): 15,
 ('Slightly dissatisfied', 'Africa', 'Man'): 199,
 ('Slightly dissatisfied', 'Africa', 'Others'): 1,
 ('Slightly dissatisfied', 'other', 'Woman'): 0,
 ('Slightly dissatisfied', 'other', 'Man'): 9,
 ('Slightly dissatisfied', 'other', 'Others'): 0,
 ('Neither satisfied nor dissatisfied', 'Oceania', 'Woman'): 7,
 ('Neither satisfied nor dissatisfied', 'Oceania', 'Man'): 144,
 ('Neither satisfied nor dissatisfied', 'Oceania', 'Others'): 3,
 ('Neither satisfied nor dissatisfied', 'Europe', 'Woman'): 124,
 ('Neither satisfied nor dissatisfied', 'Europe', 'Man'): 2437,
 ('Neither satisfied nor dissatisfied', 'Europe', 'Others'): 20,
 ('Neither satisfied nor dissatisfied', 'South America', 'Woman'): 14,
 ('Neither satisfied nor dissatisfied', 'South America', 'Man'): 308,
 ('Neither satisfied nor dissatisfied', 'South America', 'Others'): 1,
 ('Neither satisfied nor dissatisfied', 'North America', 'Woman'): 101,
 ('Neither satisfied nor dissatisfied', 'North America', 'Man'): 1364,
 ('Neither satisfied nor dissatisfied', 'North America', 'Others'): 28,
 ('Neither satisfied nor dissatisfied', 'Asia', 'Woman'): 63,
 ('Neither satisfied nor dissatisfied', 'Asia', 'Man'): 1305,
 ('Neither satisfied nor dissatisfied', 'Asia', 'Others'): 14,
 ('Neither satisfied nor dissatisfied', 'Africa', 'Woman'): 12,
 ('Neither satisfied nor dissatisfied', 'Africa', 'Man'): 157,
 ('Neither satisfied nor dissatisfied', 'Africa', 'Others'): 2,
 ('Neither satisfied nor dissatisfied', 'other', 'Woman'): 0,
 ('Neither satisfied nor dissatisfied', 'other', 'Man'): 2,
 ('Neither satisfied nor dissatisfied', 'other', 'Others'): 0}

In [150]:
multiIndex_df = pd.DataFrame([reformed_dict])
multiIndex_df

,"(Slightly satisfied, Asia, Woman)","(Slightly satisfied, Asia, Man)","(Slightly satisfied, Asia, Others)","(Slightly satisfied, North America, Woman)","(Slightly satisfied, North America, Man)","(Slightly satisfied, North America, Others)","(Slightly satisfied, Oceania, Woman)","(Slightly satisfied, Oceania, Man)","(Slightly satisfied, Oceania, Others)","(Slightly satisfied, Europe, Woman)",...,"(Neither satisfied nor dissatisfied, North America, Others)","(Neither satisfied nor dissatisfied, Asia, Woman)","(Neither satisfied nor dissatisfied, Asia, Man)","(Neither satisfied nor dissatisfied, Asia, Others)","(Neither satisfied nor dissatisfied, Africa, Woman)","(Neither satisfied nor dissatisfied, Africa, Man)","(Neither satisfied nor dissatisfied, Africa, Others)","(Neither satisfied nor dissatisfied, other, Woman)","(Neither satisfied nor dissatisfied, other, Man)","(Neither satisfied nor dissatisfied, other, Others)"
0,146,2807,22,508,5131,97,31,500,7,451,...,28,63,1305,14,12,157,2,0,2,0

In [151]:
multiIndex_df.transpose()

                                                       0
(Slightly satisfied, Asia, Woman)                    146
(Slightly satisfied, Asia, Man)                     2807
(Slightly satisfied, Asia, Others)                    22
(Slightly satisfied, North America, Woman)           508
(Slightly satisfied, North America, Man)            5131
...                                                  ...
(Neither satisfied nor dissatisfied, Africa, Man)    157
(Neither satisfied nor dissatisfied, Africa, Ot...     2
(Neither satisfied nor dissatisfied, other, Woman)     0
(Neither satisfied nor dissatisfied, other, Man)       2
(Neither satisfied nor dissatisfied, other, Oth...     0

[105 rows x 1 columns]